table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

a {
    text-decoration: none;

}

/*div.row {*/
/*    border: dotted 1px red;*/
/*}*/
/*div.col {*/
/*    border: dotted 1px blue;*/
/*}*/

div.tall-row {
    height: 300px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h2 {
    margin-right: 30px;
    opacity: 95%;
    color: sandybrown;
    animation: flip;
    animation-duration: 5s;

}

.card-body{
    background: -webkit-linear-gradient(-45deg, midnightblue, seagreen, orangered, black);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position:  50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position:  50%;
    }
}

body {
    background-image: url("img/coffee-gif.gif");
    background-size: contain;
    background-repeat: no-repeat;


}

.white-font {
    color: black;
}




/*#searchName {*/
/*    width: 100%;*/
/*}*/

/*#submit-name {*/
/*    width: 100%;*/
/*    background-color: #3468f6;*/
/*    color: white;*/
/*}*/

/*#search-container1 {*/
/*    display: inline-block;*/

/*}*/

/*#search-container2 {*/
/*        display: inline-block;*/
/*}*/

/*#parent-card {*/
/*    color: #ffffff;*/
/*    background-color: #ffffff;*/
/*}*/

/*#child-card1 {*/
/*    background-image: url("img/coffee-background.jpg");*/
/*}*/

/*#child-card2 {*/
/*    background-image: url("img/coffee-background.jpg");*/
/*}*/